footer{
	background: #e9e9e9;
	margin-top: 40px;
}
.footer__container{
	display: flex;
	flex-direction: row;
	align-items: center;
	height: 100px;
}

.content {

	&__footer-logo {
		flex: 0 0 auto;
	}

	&__footer-logo-text {
		p, span{
			font-weight: 700;
			display: inline-block;
		}
	}
	&__footer-logo-subtext{
			font-size: 12px;
			font-weight: 500;
			letter-spacing: -0.36px;
			color: #2f302e;
	}

	&__footer-nav {
		ul{
			padding: 0 0 0 40px;
		}
		ul a{
			font-size: 12px;
		}
		flex: 1 0 auto;
	}

	&__footer-text {
		justify-content: start;
		flex: 1 1 auto;
		text-align: center;
		margin: 0 0 0 -90px;
		p{
			display: inline-block;
			font-weight: 700;
		}
		div{
			font-size: 12px;
			font-weight: 500;
			color: #706f6b;
		}
	}
}

@media(max-width: 1200px){
	.content__footer-logo-subtext {
			display: none;
	}
	.content__footer-logo-text {
		p, span{
			display: block;
		}
}
	.content__footer-nav {
		ul{
			padding: 0 10px 0 23px;
		}
	}
}

@media(max-width: 992px){
	.content__footer-nav {
		display: none;
	}
	.content__footer-text {
		padding-left: 30px;
	}
}